<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CMIOExtension</key>
	<dict>
		<key>CMIOExtensionMachServiceName</key>
		<string>M56H79B979.com.lunartown.camsink</string>
	</dict>
	<key>NSSystemExtensionUsageDescription</key>
	<string>Python 앱이 프레임을 보낼 수 있는 camsink 가상 카메라를 설치합니다.</string>
</dict>
</plist>
